@import '../../mixin.scss';

.inputContainer{
    width: 80%;
    @include xs{
        width:98% ;
    }
}

.input{
    width: 80%;
    height: 50px;
    border: none;
    background-color: rgb(240, 238, 238);
    border-bottom: 1px solid;
    font-size: 15px;
    padding-left: 13px;
    margin-top: 15px;
    letter-spacing: 0.5px;
    outline: none;
    @include sm{
        width: 100%;
    }
    @include xs{
        width:100% ;
    }
}

.alert{
    color: red;
    font-size: 15px;
}