.tabContainer{
    border: 2px solid rgb(188, 184, 184);
    width: 60% ;
    display: flex;
    justify-content: space-between;
    padding: 6px 6px;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 0.5px;
    margin-top: 20px;
}

.tabs{
    padding: 8px 15px;
    color: gray;
    border-radius: 5px;
    cursor: pointer;
}

.activeTab{
    background-color: rgba(77, 78, 127, 0.967);
    color: whitesmoke;
    cursor: pointer;
    padding: 8px 15px;
    color: whitesmoke;
    border-radius: 5px;
}