@import '../mixin.scss';

.panelContainer {
    height: 96vh;
    @include sm{
        height: 90vh;
        // width: 100%;
    }
}

.panelSubContainer {
    height: 87vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    @include sm{
        height: 80vh;
        align-items: start;
        padding-top: 30px;
    }
}

.panelCard {
    // color: red;
    color: rgb(13, 45, 78);
    height: 70vh;
    width: 40vw;
    background-color: #fff;
    // border: 2px solid red; 
    box-shadow: 1px 1px 3px 2px gainsboro;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    @include md {
        width: 55vw;
    }
    @include sm{
        width:75vw;
        height: 67vh;
    }
    @include xxs{
        width: 95vw;
    }
}

.panelCardInnerBox1,
.panelCardInnerBox2 {
    flex: 1;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include md {
        // border: 1px solid red;
        width: 50vw;
    }
    @include xxs{
        width: 80vw;
    }
}
.panelCardHeading, .subContainerHeading{
    font-size: 20px;
    @include md{
        font-size: 22px;
    }
    @include xs{
        font-size: 18px;
    }
}

.subContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subContainerHeadingBox {
    display: flex;
}

.subContainerHeading {
    margin-left: 25px;
    @include sm{
        margin-left: 10px;
    }
}

.infoIcon {
    position: relative;
    top: 4px;
    left: 5px;
}

.text {
    font-size: 20px;
    margin-top: 25px;

    @include md{
        font-size: 21px;
    }
}

.info {
    font-size: 12.5px;
    margin-top: 5px;
    width: 60%;
    text-align: left;
    @include xs{
        width:95% ;
    }
}

.buttonContainer {
    flex: 0.5;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 15px;
    border: none;
    color: gray;
}

.termsContainer {
    color: rgb(57, 80, 182);
    font-size: 14px;
    margin-top: 20px;
    padding: 25px 0 0 50px;
}