
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
}

.App{
  background-color: black;
  height: 110vh;
}

.sub-Container{
  background-color: #fff;
  margin: 0px 40px;
}